/* Sidebar: Top Heading */

.md-nav--lifted>.md-nav__list>.md-nav__item--active>.md-nav__link {
  /* color: #000000; */
  /* color: var(--md-primary-fg-color); */
  text-transform: uppercase;
}
/* Sidebar: Items */
.md-nav{
    color: #708090;
}

/* Sidebar: Headings */
.md-nav__item--section>.md-nav__link[for] {
    margin-top: 2em;
}

.md-nav__item .md-nav__link--active {
    font-style: italic;
}

h2 {
   font-weight: bold; 
}

