/* Sidebar: Top Heading */

.md-nav--lifted>.md-nav__list>.md-nav__item--active>.md-nav__link {
  /* color: #000000; */
  /* color: var(--md-primary-fg-color); */
  text-transform: uppercase;
}
/* Sidebar: Items */
.md-nav{
    color: #708090;
}

/* Sidebar: Headings */
.md-nav__item--section>.md-nav__link[for] {
    margin-top: 2em;
}

.md-nav__item .md-nav__link--active {
    font-style: italic;
}

.md-typeset .grid {
    max-width: 800px; /* <-- adjust to fit */
    margin-inline: auto;
}

.hero-header {
    max-width: 800px; /* <-- adjust to fit */
    text-align: center;
    margin-inline: auto;
}
.hide-h1 {
    position: absolute;
    left: -999px
}

.pulp-sitemap ul {
  line-height: 1.1;
}

:root {
  --md-primary-fg-color:        #347dbe;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;/
}
