---
repository: {{repo}}
tags: {{tags}}
versioning:
  created: {{created}}
  updated: {{updated}}
  deprecated: {{deprecated}}
---

# {{title}}

{{overview}}

{% for step in steps %}
1. {{step}}
{%- endfor %}

---

{% for section_title,section_content in sections %}
## {{section_title}}

{{section_content}}

{% endfor %}


