"""
{{module_docstring}}
"""

{% for class in classes %}
class {{class.name}}:
    {{class.docstring}}
    def __init__(self, {{class.args}}):
        """
        {{class.init_docstring}}
        """

{% for method in class.methods %}
    def {{method.name}}(self,{{method.args}}) -> {{method.return_type}}:
        """
        {{method.docstring}}
        """
{% endfor %}
{% endfor %}
