---
repository: {{repo}}
tags: {{tags}}
versioning:
  created: {{created}}
  updated: {{updated}}
  deprecated: {{deprecated}}
---

# {{title}}

## What we'll be doing

{{overview}}

{% for section_title,section_content in sections %}
## {{section_title}}

{{section_content}}

{% endfor %}
