---
name: "Build"

on:
  workflow_call:

jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v4"

      - name: "Set up Python"
        uses: "actions/setup-python@v5"
        with:
          python-version: "3.12"

      - name: "Install python dependencies"
        run: |
          pip install build

      - name: "Build wheels"
        run: |
          make dist-build

      - name: "Test distribution"
        run: |
          make dist-test

      - name: "Upload wheels"
        uses: "actions/upload-artifact@v4"
        with:
          name: "pulp_docs_package"
          path: |
            dist/
          if-no-files-found: "error"
...
