name: "pulp-docs CI"

on:
  pull_request:

concurrency:
  group: "main-${{ github.ref_name }}-${{ github.workflow }}"
  cancel-in-progress: true

jobs:
  docs:
    uses: ./.github/workflows/pulp-docs-ci.yml

  # tests:
    # uses: "./.github/workflows/tests.yml"

  # ready-to-ship:
  #   # This is a dummy dependent task to have a single entry for the branch protection rules.
  #   runs-on: "ubuntu-latest"
  #   needs:
  #     - "docs"
  #     - "tests"
  #   if: "always()"
  #   steps:
  #     - name: "Collect needed jobs results"
  #       run: |
  #         echo '${{toJson(needs)}}' | jq -r 'to_entries[]|select(.value.result!="success")|.key + ": " + .value.result'
  #         echo '${{toJson(needs)}}' | jq -e 'to_entries|map(select(.value.result!="success"))|length == 0'
  #         echo "CI says: Looks good!"
