name: "Tests"

on:
  workflow_call:

jobs:
  run-test:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v4"
      - name: "Set up Python"
        uses: "actions/setup-python@v5"
        with:
          python-version: "3.11"

      - name: "Install Test Dependencies"
        run: |
          pip install -r test_requirements.txt

      - name: "Run test suite"
        run: |
          pytest -sv
